<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="SetupMenus" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>{{ itemData.itemName }}'s Linked Items</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
        <ion-refresher-content
          :pulling-icon="chevronDownCircleOutline"
          pulling-text="Pull to refresh"
          refreshing-spinner="circles"
          refreshing-text="Refreshing..."
        ></ion-refresher-content>
      </ion-refresher>

      <ion-row style="background: #e4ecf4;">
        <ion-col size="1.5" class="ion-text-center ion-align-self-center">
          <ion-icon :icon="informationCircle" style="color: #1586bc; font-size: 24px;"></ion-icon>
        </ion-col>
        <ion-col size="10.5">
          <ion-row style="font-weight: bold;">
            Let your costumers personalize their order.
          </ion-row>
          <ion-row>
            Link an item to an existing option group or create a new one from Set Up Menu page.
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding" style="background: #f4f4f4;">
        <ion-col size="12">
          <ion-text style="font-weight: bold"> {{itemData.menuItemOptionGroups.length}} option groups </ion-text>
          are linked to this item
        </ion-col>
      </ion-row>

      <ion-row v-for="option in optionGroups" :key="option.id">
        <ion-col size="10" class="ion-padding">
          <ion-row style="font-weight: bold;">
            {{option.name}}
          </ion-row>
          <ion-row>
            <ion-text v-for="(item,index) in option.menuItemOptions" :key="item.id">
              <span>
                {{item.name}}<span v-if="index != (option.menuItemOptions.length - 1)">, </span>
              </span>
            </ion-text>
          </ion-row>
        </ion-col>
        <ion-col 
          size="2"  
          class="ion-text-center ion-align-self-center" 
          style="font-weight: bold;" 
          @click="linkItem(option.id)"
        >
          <span :key="itemKey" v-if="option.linked" style="color: red;">Unlink</span>
          <span :key="itemKey" v-if="!option.linked" style="color: #1385ab;">Link</span>
        </ion-col>
      </ion-row>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-button @click="back()" expand="block">
          Back
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonContent,
  IonHeader,
  IonToolbar,
  IonRow,
  IonCol,
  IonText,
  IonButtons,
  IonBackButton,
  IonFooter,
  IonButton
} from "@ionic/vue";
import { defineComponent } from "vue";
import { getItemById, getOptionGroups, itemLinked } from "@/services/data";
import { dismissLoading, showLoading, showToast } from "@/services/common";
import { chevronDownCircleOutline, informationCircle } from 'ionicons/icons';

export default defineComponent({
  name: "ItemsLinkedOption",
  setup() {
    return {chevronDownCircleOutline,informationCircle};
  },
  methods: {
    async linkItem(groupId: number) {
      await showLoading("Please wait");
      const data = { groupId, itemId: this.itemData.id };
      itemLinked(data)
        .then((result) => {
          this.initData()
          .then(() => {
            dismissLoading();
          });
        })
        .catch((err) => {
          dismissLoading();
          showToast("Failed link item");
        });
    },
    async initData() {
      this.itemData = await getItemById(this.itemData.id);
      this.optionGroups = await getOptionGroups();
      this.optionGroups.map((val) => {
        val.linked = this.itemData.menuItemOptionGroups.findIndex(v => v.id == val.id) !== -1;
        return val;
      });
      this.itemKey = new Date().getTime();
    },
    doRefresh(ev) {
      this.initData()
      .then(() => {
        ev.target.complete();
      }).catch((err) => {
        showToast("Failed get data", "danger");
        ev.target.complete();
      });
    },
    back() {
      this.$router.back();
    }
  },
  data() {
    return {
      itemKey: 0,
      list: [],
      itemData: {
        menuItemOptionGroups: [] as any[],
        menuItemOptions: [] as any[]
      } as any,
      optionGroups: [] as any[]
    };
  },
  async ionViewDidEnter() {
    this.itemData = JSON.parse(this.$route.params.data.toString());
    this.initData();
  },
  components: {
    IonPage,
    IonContent,
    IonHeader,
    IonToolbar,
    IonRow,
    IonCol,
    IonText,
    IonButtons,
    IonBackButton,
    IonFooter,
    IonButton
  },
});
</script>