<template>
<ion-page>
    <div>Main Items</div>
</ion-page>
  
</template>

<script lang="ts">
import { IonPage} from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'MainItems',
  methods: {
    refresh: (ev: CustomEvent) => {
      setTimeout(() => {
        ev.detail.complete();
      }, 3000);
    }
  },
  components: {
    IonPage
  },
});
</script>