<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Add a New Category</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12" class="ion-no-padding"
            ><ion-label>Category Name</ion-label></ion-col
          >
          <ion-col size="12" class="ion-no-padding"
            ><ion-input
              v-model="categoryName"
              placeholder="e.g. Burgers, drinks, snacks"
            ></ion-input
          ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-button @click="createNewCategory()" :disabled="!categoryName">
          Create Category
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import { dismissLoading, showLoading, showToast } from "@/services/common";
import { createCategories } from "@/services/data";
import {
  IonPage,
  IonContent,
  IonBackButton,
  IonInput,
  IonLabel,
  IonTitle,
  IonToolbar,
  IonFooter,
  IonButtons,
  IonButton,
  IonHeader,
} from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "NewCategories",

  data() {
    return {
      categoryName: "",
    };
  },
  methods: {
    refresh: (ev: CustomEvent) => {
      setTimeout(() => {
        ev.detail.complete();
      }, 3000);
    },
    async createNewCategory() {
      await showLoading("Please wait");
      const data = { category: this.categoryName };
      createCategories(data).then(async (response) => {
        await dismissLoading();
        this.$router.back();
      }).catch((err) => {
        dismissLoading();
        showToast("Failed create category", 'danger');
      });
    },
  },
  components: {
    IonContent,
    IonBackButton,
    IonInput,
    IonLabel,
    IonTitle,
    IonToolbar,
    IonFooter,
    IonPage,
    IonButtons,
    IonButton,
    IonHeader,
  },
});
</script>
<style scoped>
</style>