<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Add a New Item</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6"
            ><div id="preview">
              <img v-if="previewImage" :src="previewImage" /></div
          ></ion-col>
          <ion-col size="6">
            <div>
              Items with high quality photos are often more popular.Maximum 2MB
              accepted file types:PNG,JPG
            </div>
            <div>
              <div class="fileUpload">
                <input type="file" class="upload" @change="onFileUpload" />
                <span>Add a Photo</span>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">Items Name *</ion-col>
          <ion-col size="12">
            <ion-input v-model="dataPost.itemName"></ion-input
          ></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">Description</ion-col>
          <ion-col size="12">
            <ion-input v-model="dataPost.description"></ion-input
          ></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">Price*</ion-col>
          <ion-col size="12">
            <ion-input v-model="dataPost.dineIn" hidden></ion-input>
            <div class="block-price" @click="createOption()">
              {{ dataPost.dineIn }}
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">Category*</ion-col>
          <ion-col size="12">
            <ion-select
              v-model="dataPost.menuItemCategoryId"
              ok-text="Ok"
              cancel-text="Cancel"
              placeholder="Select category"
            >
              <ion-select-option
                v-for="cat in categories"
                v-bind:key="cat.id"
                :value="cat.id"
                >{{ cat.category }}</ion-select-option
              >
            </ion-select></ion-col
          >
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-button
          :disabled="
            !dataPost.itemName ||
            !dataPost.menuItemCategoryId ||
            !dataPost.dineIn
          "
          v-on:click="createNewItems()"
        >
          createNewItems
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonContent,
  IonBackButton,
  IonInput,
  IonTitle,
  IonToolbar,
  IonFooter,
  IonButtons,
  IonHeader,
  IonButton,
  IonSelect,
  IonSelectOption,
  modalController,
} from "@ionic/vue";
import { defineComponent } from "vue";
import ModalCreatePrices from "@/components/modal/ModalCreatePrices.vue";
import { showModal } from "@/services/common";
import { showToast, showLoading, dismissLoading } from "@/services/common";
import {pricePlatform} from "@/services/data"

export default defineComponent({
  name: "NewItems",

  data() {
    return {
      dataPost: {
        description: "",
        menuItemCategoryId: "",
        itemName: "",
        image: "",
        isReady: true,
        dineIn: "",
      },
      file: "",
      fileName: "",
      previewImage: "",
      categories: [],
      optionData: [],
      optionPrice:[]
    };
  },
  methods: {
    refresh: (ev: CustomEvent) => {
      setTimeout(() => {
        ev.detail.complete();
      }, 3000);
    },
    onFileUpload(e: { target: { files: any[] } }) {
      const f = e.target.files[0];
      this.fileName = e.target.files[0].name;
      this.file = e.target.files[0];
      this.previewImage = URL.createObjectURL(f);
      console.log(this.previewImage);
    },
    async createNewItems() {
      await showLoading("Please wait");
      const token =
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjIsInVzZXJuYW1lIjoiZXhhbXBsZTEiLCJyb2xlIjoidGVuYW50IiwiaWF0IjoxNjM3NDA3NDA5LCJleHAiOjE2NDI1OTE0MDl9.Pl5fe28UUJ7F_Pc5XwNartVl-351xsWmF0gT1Mc6RcA";
      const formData = new FormData();
      if (this.file) {
        formData.append("image", this.file, this.fileName);
      }
  console.log(this.dataPost);
      for (const [key, value] of Object.entries(this.dataPost)) {
        formData.append(`${key}`, `${value}`);
      }

      const requestOptions = {
        method: "POST",
        headers: {
          Authorization: "Bearer " + token,
        },
        body: formData,
      };
      fetch("http://68.183.181.55:4000/v1/items/tenant", requestOptions)
        .then((response) => response.json())
        .then(async () => {
          await dismissLoading();
          await showToast("Create item successfully", "success");
          this.$router.back();
        })
        .catch(() => {
          dismissLoading();
          showToast("Failed create item", "danger");
        });
    },
    async getCategories() {
      await showLoading("Please wait");
      const token =
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjIsInVzZXJuYW1lIjoiZXhhbXBsZTEiLCJyb2xlIjoidGVuYW50IiwiaWF0IjoxNjM3ODE4MTQ1LCJleHAiOjE2NDMwMDIxNDV9.9nMEsrb76GAssomTH7PeXquHWurHehJGgdYHVtG8bhY";
      fetch("http://68.183.181.55:4000/v1/items/tenant/categories", {
        method: "GET",
        headers: {
          Authorization: "Bearer " + token,
        },
      })
        .then((response) => response.json())
        .then(async (resJson) => {
          await dismissLoading();
          this.categories = resJson.data;
        })
        .catch(() => {
          dismissLoading();
          showToast("Failed get categories data", "danger");
        });
    },

    async createOption() {
      
      const optionPrice = await pricePlatform();
      const data = {data:optionPrice}
      showModal(ModalCreatePrices,data).then((modal) => {
        modal.present();
        modal.onDidDismiss().then((value) => {
          const user = value["data"];

          console.log(this.dataPost);
          const mergeData = {
            ...this.dataPost,
            ...user,
          };

          this.dataPost = mergeData;
        });
      });
    },
  },
  setup() {
    const openModal = async () => {
      const modal = await modalController.create({
        component: ModalCreatePrices, //Modal is name of the component to render inside ionic modal

        cssClass: "modal-create",
      });
      return modal.present();
    };
    return {
      openModal,
    };
  },
  ionViewDidEnter() {
    this.getCategories();
  },
  components: {
    IonContent,
    IonBackButton,
    IonInput,
    IonTitle,
    IonToolbar,
    IonFooter,
    IonPage,
    IonButtons,
    IonHeader,
    IonButton,
    IonSelect,
    IonSelectOption,
  },
});
</script>
<style scoped>
ion-content {
  background: red;
}
.imagePreviewWrapper {
  width: 250px;
  height: 250px;
  display: block;
  cursor: pointer;
  margin: 0 auto 30px;
  background-size: cover;
  background-position: center center;
}
.inputFile {
  width: 0;
  height: 0;
}
.fileUpload {
  border-radius: 15px;
  color: #00a2a4;
  font-size: 1em;
  font-weight: bold;
  margin: 1em 0px;
  width: 120px;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.fileUpload:hover,
.fileUpload:active,
.fileUpload:focus {
  cursor: pointer;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 148px;
  height: 46px;
  cursor: pointer;
}

input[type="file"] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
ion-select {
  border: 1px solid #cfcfcf;
}
.block-price {
  border: 1px solid #cfcfcf !important;
  height: 40px;
  border-radius: 4px !important;
  padding-left: var(--padding-start);
  padding-right: var(--padding-end);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;
  text-indent: inherit;
  text-overflow: inherit;
  text-transform: inherit;
  text-align: inherit;
  white-space: inherit;
  color: inherit;
  display: inline-block;
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  padding: 10px;
}
</style>