<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="SetupMenus" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Create New Option Group</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="groupname">
          <ion-col size="12"> Option Group Name* </ion-col>
          <ion-col size="12">
            <ion-input
              type="text"
              placeholder="e.g Burgers, drinks, snacks"
              v-model="dataPost.name"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="groupname">
          <ion-col size="12"> Option Group Detail </ion-col>
          <ion-col size="12">
            <ion-input
              type="text"
              placeholder="e.g Burgers, drinks, snacks"
              v-model="dataPost.detail"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="option">
          <ion-col size="12" class="title"> Option </ion-col>
          <ion-col size="12" class="desc">
            E.g jelly, large, 50% sugar
          </ion-col>
        </ion-row>
        <ion-row class="add-option">
          <ion-col size="12">
            <ion-text @click="createOption()" color="primary" class="bold">
              Add an Option
            </ion-text>
          </ion-col>
          <ion-col size="12">
            <ion-reorder-group
              @ionItemReorder="doReorder($event)"
              :disabled="false"
            >
              <ion-item
                class="ion-no-padding ion-no-margin reorder-items"
                lines="none"
                v-for="(item, index) in dataPost.menuItemOptions"
                v-bind:key="index"
                @click="updateOption(item)"
              >
                <ion-reorder slot="start"></ion-reorder>
                <ion-label class="ion-text-justify">
                  <span class="optionName">
                    {{ item.name }}
                  </span>
                  <span class="optionPrice">
                    <i v-if="item.price != 0">+</i> Rp{{ item.price }}
                  </span>
                </ion-label>
                <ion-icon name="chevron-forward" slot="end"></ion-icon>
              </ion-item>
            </ion-reorder-group>
          </ion-col>
        </ion-row>
        <ion-row class="option-detail">
          <ion-col size="12" class="title"> Option Detail </ion-col>
          <ion-col size="12" class="desc">
            E.g must choose at least 1 option, optional
          </ion-col>
        </ion-row>
        <ion-row class="required-option" v-if="dataPost.menuItemOptions.length > 0">
          <ion-grid fixed>
            <ion-radio-group v-model="dataPost.isRequired">
              <ion-row>
                <ion-col size="12">Is it required to choose an option?</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <ion-radio :value="true"></ion-radio>
                </ion-col>
                <ion-col size="11">
                  <ion-label>Yes, it's required</ion-label></ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <ion-radio :value="false"></ion-radio
                ></ion-col>
                <ion-col size="11">
                  <ion-label>No, it's optional</ion-label></ion-col
                >
              </ion-row>
            </ion-radio-group>
          </ion-grid>
        </ion-row>
        <ion-row class="required-option" v-if="dataPost.menuItemOptions.length > 0">
          <ion-grid fixed>
            <ion-radio-group v-model="dataPost.isMultiple">
              <ion-row>
                <ion-col size="12"
                  >How many options can a costumer choose?</ion-col
                >
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <ion-radio :value="false"></ion-radio>
                </ion-col>
                <ion-col size="11"> <ion-label>1 Option</ion-label></ion-col>
              </ion-row>
              <ion-row
                lines="none"
                :disabled="
                  dataPost.menuItemOptions.length < 2 || dataPost.menuItemOptions.length == 0
                "
              >
                <ion-col size="1">
                  <ion-radio :value="true"></ion-radio
                ></ion-col>
                <ion-col size="11">
                  <ion-label>Multiple options</ion-label></ion-col
                >
              </ion-row>
            </ion-radio-group>
          </ion-grid>
        </ion-row>
        <ion-row v-if="dataPost.isMultiple">
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label position="stacked">Minimum</ion-label>
              <ion-input v-model="dataPost.minChoose" type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label position="stacked">Maximum</ion-label>
              <ion-input v-model="dataPost.maxChoose" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row v-if="dataPost.menuItemOptions.length > 0 && !dataPost.isMultiple">
          <ion-col size="12">
            This means your costumer must choose 1 options
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-button @click="submit()" expand="block" :disabled="!dataPost.name">
          Save
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonRow,
  IonCol,
  IonHeader,
  IonToolbar,
  IonBackButton,
  IonTitle,
  IonContent,
  IonItem,
  IonLabel,
  IonInput,
  // IonList,
  IonGrid,
  IonFooter,
  IonButton,
  IonReorder,
  IonReorderGroup,
  IonIcon,
  IonRadio,
  IonRadioGroup,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { add } from "ionicons/icons";
import { showModal } from "@/services/common";
import newOption from "./NewOption.vue";
import updateOption from "./UpdateOption.vue";

export default defineComponent({
  name: "NewOptionGroups",
  setup() {
    const router = useRouter();
    console.log("setup component");
    localStorage.removeItem("addOptionTemp");
    return { router, add };
  },
  data() {
    return {
      optionList: [],
      data: [],
      dataPost: {
        name: "",
        detail: "",
        isRequired: true,
        isMultiple: false,
        minChoose: 1,
        maxChoose: 1,
        menuItemId: 0,
        menuItemOptions: [] as any[],
      },
    };
  },
  methods: {
    goNav() {
      this.router.push("/NewOption");
    },
    doReorder(ev: CustomEvent) {
      ev.detail.complete();
      // this.data = this.reorderArray(this.optionList, ev.detail.from, ev.detail.to);
    },
    reorderArray(array: Array<never>, from: number, to: number) {
      return array.splice(to, 0, array.splice(from, 1)[0]);
    },
    submit() {
      this.dataPost.maxChoose = typeof this.dataPost.maxChoose == 'string' ? parseInt(this.dataPost.maxChoose) : this.dataPost.maxChoose;
      this.dataPost.minChoose = typeof this.dataPost.minChoose == 'string' ? parseInt(this.dataPost.minChoose) : this.dataPost.minChoose;
      this.router.push({
        name: "ReviewNewOptionGroups",
        params: {
          data: JSON.stringify(this.dataPost),
          isNew: JSON.stringify(true),
        },
      });
    },
    createOption() {
      showModal(newOption).then((modal) => {
        modal.present();
        modal.onDidDismiss().then((value) => {
          console.log(value);
          if (value.data) {
            this.dataPost.menuItemOptions.push(value.data);
          }
        });
      });
    },
    updateOption(data: any) {
      console.log(data);
      showModal(updateOption, data).then((modal) => {
        modal.present();
        modal.onDidDismiss().then((value) => {
          if (value.data) {
            console.log(value);
            const index = this.dataPost.menuItemOptions.findIndex(
              (v) => v.id == value.data.id
            );
            this.dataPost.menuItemOptions[index] = value.data;
          }
        });
      });
    },
  },
  components: {
    IonPage,
    IonRow,
    IonCol,
    IonLabel,
    IonHeader,
    IonToolbar,
    IonBackButton,
    IonTitle,
    IonContent,
    IonItem,
    IonInput,
    IonGrid,
    IonFooter,
    IonButton,
    IonReorder,
    IonReorderGroup,
    IonIcon,
    IonRadio,
    IonRadioGroup,
  },
});
</script>
<style scoped>
ion-grid {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  letter-spacing: 0.005em;

  color: #707070;
}
ion-col {
  margin: 0px !important;
}
.groupname ion-col ion-input {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  border-radius: 4px;
}
.groupname ion-col ion-input::placeholder {
  --placeholder-padding: 16px !important;
}
.option {
  background: #f7f7f7;
  margin-top: 24px;
  padding: 6px 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.003em;

  color: #707070;
}
.title {
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  letter-spacing: 0.005em;

  color: #333333;
}
.desc {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.003em;

  color: #707070;
}
.add-option {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  letter-spacing: 0.005em;

  color: #0695c2;
  margin: 16px 0px !important;
}
.option-detail {
  background: #f7f7f7;
  padding: 8px 0px;
}
.reorder-items {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  letter-spacing: 0.005em;

  color: #333333;
}
.required-option {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  letter-spacing: 0.005em;

  color: #333333;
}
.required-option ion-row {
  margin-top: 16px;
  padding: 0px 16px !important;
}
.required-option ion-row ion-col {
  padding: 0px !important;
}
ion-radio {
  color: red !important;
  /* background: red; */
  border-radius: 1em;
  height: 16px;
  font-size: 16px;
  margin: auto;
  text-align: unset;
  vertical-align: middle;
  width: 16px;
  border: 1px solid #707070;
  --color-checked: #05995b;
  --border-checked: #05995b;
  --inner-border-radius: var(--border-checked);
}
ion-radio::part(container) {
  contain: unset !important;
}
ion-radio.radio-checked {
  border: 1px solid #05995b;
  content: "";
}

ion-radio .radio-inner {
  width: 1px;
  height: 1px;
}
.optionPrice {
  float: right;
}
</style>