<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <!-- <ion-back-button default-href="SetupMenus" text=""></ion-back-button> -->
          <ion-button v-on:click="dismiss()">
            <ion-icon slot="icon-only" :icon="arrowBack"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Create an Option</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12"> Option Name* </ion-col>
          <ion-col size="12">
            <ion-input
              v-model="optionData.name"
              type="text"
              placeholder="E.g jelly, large, 50% sugar"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"> Price* </ion-col>
          <ion-col size="12">
            <ion-input
              v-model="optionData.price"
              type="number"
              placeholder="0"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-button
          expand="block"
          v-on:click="submit()"
          :disabled="!optionData.name"
        >
          Add
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonRow,
  IonCol,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonInput,
  IonFooter,
  IonButton,
  IonIcon
} from "@ionic/vue";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { arrowBack } from "ionicons/icons";
import { dismissModal } from "@/services/common";

export default defineComponent({
  name: "NewOption",
  setup() {
    const router = useRouter();
    return { router, arrowBack };
  },
  data() {
    return {
      optionData: {
        name: "",
        price: 0,
        id: 0
      },
    };
  },
  methods: {
    dismiss() {
      dismissModal();
    },
    submit() {
      this.optionData.id = new Date().getTime();
      dismissModal(this.optionData);
    },
  },
  components: {
    IonPage,
    IonRow,
    IonCol,
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonInput,
    IonFooter,
    IonButton,
    IonIcon
  },
});
</script>
<style scoped>
ion-grid {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  letter-spacing: 0.005em;

  color: #707070;
}
</style>