<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="SetupMenus" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>{{ optionData.name }}'s Linked Items</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
        <ion-refresher-content
          :pulling-icon="chevronDownCircleOutline"
          pulling-text="Pull to refresh"
          refreshing-spinner="circles"
          refreshing-text="Refreshing..."
        ></ion-refresher-content>
      </ion-refresher>
      <ion-row>
        <ion-col size="12">
          <ion-text style="font-weight: bold"> {{list.length}} items </ion-text>
          are linked to this option group
        </ion-col>
      </ion-row>

      <ion-list>
        <items-component :list="list" :key="itemKey">
          <template v-slot="sp">
            <div v-for="options in sp" :key="options.id">
              <ion-row v-for="option in options.menuItems" :key="option.id">
                <ion-col size="12">
                  <ion-row>
                    <ion-col size="10">
                      <ion-row>
                        {{ option.itemName }}
                      </ion-row>
                    </ion-col>
                    <ion-col size="2" style="color: #048ab9; font-weight: bold">
                      <span v-if="!option.linked" @click="linkItem(option.id)"> Link </span>
                      <span style="color: red;" v-if="option.linked" @click="linkItem(option.id)"> Unlink </span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col
                      size="6"
                      v-for="menuItemPrices in option.menuItemPrices"
                      :key="menuItemPrices"
                      >{{ menuItemPrices.pricePlatform.platform }}
                      {{ menuItemPrices.price }}</ion-col
                    >
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </template>
        </items-component>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonContent,
  IonHeader,
  IonToolbar,
  IonRow,
  IonCol,
  IonText,
  IonButtons,
  IonBackButton,
  IonList,
} from "@ionic/vue";
import { defineComponent } from "vue";
import ItemsComponent from "@/components/ItemsComponent.vue";
import { getLinkedByOptionGroupsId, itemLinked } from "@/services/data";
import { dismissLoading, showLoading, showToast } from "@/services/common";
import { chevronDownCircleOutline } from 'ionicons/icons';

export default defineComponent({
  name: "OptionLinkedItems",
  setup() {
    return {chevronDownCircleOutline};
  },
  methods: {
    async linkItem(itemId: number) {
      await showLoading("Please wait");
      const data = { groupId: this.optionData.id, itemId };
      itemLinked(data)
        .then((result) => {
          this.initData()
          .then(() => {
            dismissLoading();
          });
        })
        .catch((err) => {
          dismissLoading();
          showToast("Failed link item");
        });
    },
    async initData() {
      this.list = await getLinkedByOptionGroupsId(this.optionData.id);
      this.list.map((valueList: any) => {
        valueList.menuItems.map((valueItem) => {
          valueItem.linked = valueItem.menuItemOptionGroups.findIndex(v => v.id == this.optionData.id) !== -1;
          return valueItem;
        });
        return valueList;
      });
      this.itemKey = new Date().getTime();
      return this.list;
    },
    doRefresh(ev) {
      this.initData()
      .then(() => {
        ev.target.complete();
      }).catch((err) => {
        showToast("Failed get data", "danger");
        ev.target.complete();
      });
    }
  },
  data() {
    return {
      itemKey: 0,
      list: [],
      optionData: {} as any,
    };
  },
  async ionViewDidEnter() {
    this.optionData = JSON.parse(this.$route.params.data.toString());
    this.initData();
  },
  components: {
    IonPage,
    IonContent,
    IonHeader,
    IonToolbar,
    IonRow,
    IonCol,
    IonText,
    IonButtons,
    IonBackButton,
    IonList,
    ItemsComponent,
  },
});
</script>