<template>
  <ion-page class="kiosk-menus-option-group">
    <ion-content>OptionGroups</ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonContent, IonPage} from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'OptionGroups',
  methods: {
    refresh: (ev: CustomEvent) => {
      setTimeout(() => {
        ev.detail.complete();
      }, 3000);
    }
  },
  components: {
    IonContent,
    IonPage
  },
});
</script>