<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
            default-href="NewOptionGroups"
            text=""
          ></ion-back-button>
        </ion-buttons>
        <ion-title>Review Option Group</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-row class="confirmTitle">
        <ion-col size="2" class="ion-align-self-center ion-text-center">
          <ion-icon
            :icon="informationCircleOutline"
            style="
              font-size: 24px;
              background: blue;
              color: white;
              border-radius: 50%;
            "
          ></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-row style="font-weight: bold">
            Review the Option Group Details Below
          </ion-row>
          <ion-row>
            This is how the option groups would be shown to costumers.
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-row style="font-weight: bold"> {{ optionGroups.name }} </ion-row>
          <ion-row>
            {{ optionGroups.isRequired ? "Required" : "Optional" }} with
            {{ optionGroups.isMultiple ? "multiple options" : "1 option only" }}
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row
        v-for="(item, index) in optionGroups.menuItemOptions"
        :key="index"
        class="ion-padding-top ion-padding-bottom ion-margin-start"
      >
        <ion-col size="6">
          {{ item.name }}
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          <span v-if="item.name != 0">+</span> Rp.{{ item.price }}
        </ion-col>
      </ion-row>
    </ion-content>
    <ion-footer class="ion-text-center ion-padding-start ion-padding-end">
      <ion-toolbar>
        <ion-button v-on:click="submit()" expand="block" color="success">
          {{isNew ? 'Create' : 'Update'}} Option Group
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>
<script lang="ts">
import {
  IonPage,
  IonRow,
  IonCol,
  IonHeader,
  IonToolbar,
  IonBackButton,
  IonTitle,
  IonContent,
  IonFooter,
  IonButton,
  IonIcon
} from "@ionic/vue";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { informationCircleOutline } from "ionicons/icons";
import { showToast, showLoading, dismissLoading } from "@/services/common";
import { createOptionGroups, updateOptionGroups } from "@/services/data";

export default defineComponent({
  name: "ReviewNewOptionGroups",
  setup() {
    const router = useRouter();
    return {
      router,
      informationCircleOutline,
    };
  },
  methods: {
    async submit() {
      await showLoading("Please wait");
      this.optionGroups.menuItemOptions.map((value: any) => {
        delete value.id;
        value.price = parseInt(value.price);
        return value;
      });
      if (this.isNew) {
        createOptionGroups(this.optionGroups)
          .then((result) => {
            dismissLoading();
            this.router.replace("SetupMenus");
          })
          .catch((err) => {
            dismissLoading();
            showToast("Failed create option groups");
          });
      } else {
        updateOptionGroups(this.optionGroups.id, this.optionGroups)
          .then((result) => {
            dismissLoading();
            this.router.replace("SetupMenus");
          })
          .catch((err) => {
            dismissLoading();
            showToast("Failed update option groups");
          });
      }
    },
  },
  data() {
    return {
      isNew: true,
      optionGroups: {} as any,
    };
  },
  ionViewDidEnter() {
    const data = JSON.parse(this.$route.params.data.toString());
    const isNew = JSON.parse(this.$route.params.isNew.toString());
    this.optionGroups = data;
    this.isNew = isNew;
    console.log(this.optionGroups);
  },
  components: {
    IonPage,
    IonRow,
    IonCol,
    IonHeader,
    IonToolbar,
    IonBackButton,
    IonTitle,
    IonContent,
    IonFooter,
    IonButton,
    IonIcon,
  },
});
</script>
<style scoped>
.confirmTitle {
  background: lightblue;
}
</style>