<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
            text=""
            defaultHref="/Management/Home"
          ></ion-back-button>
        </ion-buttons>
        <ion-title>Set Up Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <!-- Segment with default selection -->
      <ion-segment @IonChange="segmentChanged" :value="selectedSegment">
        <ion-segment-button value="MainItems">
          <ion-label>Main Item</ion-label>
        </ion-segment-button>
        <ion-segment-button value="OptionGroups">
          <ion-label>Option Groups</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div
        lines="full"
        class="ion-no-margin"
        v-if="selectedSegment == 'MainItems'"
        style="height: 73.8vh"
      >
        <ion-content>
          <ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
            <ion-refresher-content
              :pulling-icon="chevronDownCircleOutline"
              pulling-text="Pull to refresh"
              refreshing-spinner="circles"
              refreshing-text="Refreshing..."
            ></ion-refresher-content>
          </ion-refresher>
          <ItemsComponent :list="list" :key="itemKey">
            <template v-slot="sp">
              <div v-for="items in sp" v-bind:key="items.id">
                <ion-grid
                  v-for="menuItem in items.menuItems"
                  :key="menuItem"
                  style="border-bottom: solid #ddd 1px"
                >
                  <ion-row class="row-items">
                    <ion-col size="4">
                      <img
                        class="items-img"
                        :src="menuItem.image ? menuItem.image : '..'"
                    /></ion-col>
                    <ion-col size="8">
                      <ion-row>
                        <ion-col size="10" class="menuitem-itemname">
                          {{ menuItem.itemName }}</ion-col
                        >
                      </ion-row>
                      <ion-row>
                        <ion-col
                          class="price"
                          size="6"
                          v-for="menuItemPrices in menuItem.menuItemPrices"
                          :key="menuItemPrices"
                        >
                          <img
                            class="price-logo"
                            :src="
                              menuItemPrices.pricePlatform.logo
                                ? menuItemPrices.pricePlatform.logo
                                : '..'
                            "
                          />

                          <ion-label
                            >Rp
                            {{ formatPrice(menuItemPrices.price) }}</ion-label
                          >
                        </ion-col>
                      </ion-row>
                      <ion-row> </ion-row>
                      <ion-row>
                        <ion-col size="6"
                          ><div style="padding: 6px">
                            <ion-label
                              color="primary"
                              class="ion-float-left"
                              style="zoom: 0.9"
                              @click="updateItem(menuItem)"
                              >Edit Item</ion-label
                            >
                          </div></ion-col
                        >
                        <ion-col size="6 ">
                          <div style="padding: 6px">
                            <ion-col
                              size="6"
                              @click="itemLinked(menuItem)"
                              class="optionDetail"
                            >
                              {{ menuItem.menuItemOptionGroups.length }} Option Groups Linked
                            </ion-col>
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row v-if="menuItem.isPromo == true">
                        <ion-col size="12" class="menuitem-itemname">
                          Sedang ada promo
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </template>
          </ItemsComponent>
        </ion-content>
      </div>
      <div
        lines="full"
        v-if="selectedSegment == 'OptionGroups'"
        style="height: 73.8vh"
      >
        <ion-content>
          <ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
            <ion-refresher-content
              :pulling-icon="chevronDownCircleOutline"
              pulling-text="Pull to refresh"
              refreshing-spinner="circles"
              refreshing-text="Refreshing..."
            ></ion-refresher-content>
          </ion-refresher>
          <ion-grid class="optiongroups ion-no-margin ion-no-padding">
            <ion-row class="count-optiongroups" hidden>
              <ion-col size="10">
                {{ optionGroups.length }} Option groups available
              </ion-col>
              <ion-col size="2">
                <ion-icon :icon="informationCircleOutline" />
              </ion-col>
            </ion-row>
            <ion-row
              class="items"
              v-for="groups in optionGroups"
              :key="groups.id"
            >
              <ion-col size="12" class="title">
                {{ groups.name }}
              </ion-col>
              <ion-col size="12" class="item">
                <ion-text
                  v-for="(option, index) in groups.menuItemOptions"
                  :key="option.id"
                >
                  <span v-if="index < 2">
                    {{ option.name }}<span v-if="index < 1">, </span>
                  </span>
                </ion-text>
                <span v-if="groups.menuItemOptions.length > 2">
                  and {{ groups.menuItemOptions.length - 2 }} more</span
                >
              </ion-col>
              <ion-col
                size="6"
                @click="updateOptions(groups)"
                class="optionDetail"
              >
                Edit options Group
              </ion-col>
              <ion-col
                size="6"
                @click="optionLinked(groups)"
                class="optionDetail"
              >
                {{ groups.linkedItems }} Items Linked
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-content>
      </div>
    </ion-content>
    <ion-footer class="ion-text-center">
      <ion-toolbar>
        <ion-button
          v-if="selectedSegment == 'MainItems'"
          v-on:click="openModal"
          color="success"
          expand="block"
        >
          Add an Items or Category
        </ion-button>
        <ion-button
          v-if="selectedSegment == 'OptionGroups'"
          v-on:click="newOptionGroups"
          color="success"
          expand="block"
        >
          Create Option Group
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>
 

<script lang="ts">
import {
  IonContent,
  IonHeader,
  IonPage,
  IonFooter,
  IonTitle,
  IonToolbar,
  IonLabel,
  IonButtons,
  IonButton,
  IonBackButton,
  IonSegment,
  IonSegmentButton,
  IonGrid,
  IonRow,
  IonCol,
  modalController,
  IonIcon,
} from "@ionic/vue";
import {
  addCircleOutline,
  arrowForward,
  informationCircleOutline,
  chevronDownCircleOutline,
} from "ionicons/icons";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import ItemsComponent from "@/components/setupmenus/ItemsComponent.vue";
import {
  getData,
  getOptionGroups,
  getLinkedByOptionGroupsId,
} from "@/services/data";
import ModalMenuSetup from "@/components/modal/ModalMenuSetup.vue";

export default defineComponent({
  name: "SetupMenus",
  methods: {
    async doRefresh(ev) {
      if (this.selectedSegment == "OptionGroups") {
        this.optionGroups = await getOptionGroups();
        this.optionGroups.map(async (value) => {
          const linked = await getLinkedByOptionGroupsId(value.id);
          let itemLinked = 0;
          linked.forEach((eLinked) => {
            eLinked.menuItems.forEach((eItem) => {
              if (eItem.menuItemOptionGroups.findIndex((v) => v.id == value.id) !== -1) {
                itemLinked += 1;
              }
            });
          });
          value.linkedItems = itemLinked;
          return value;
        });
      } else {
        this.list = await getData();
      }
      this.itemKey = new Date().getTime();
      ev.target.complete();
    },
    formatPrice(value) {
      const val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    updateItem(item: any) {
      this.$router.push({
        name: item.isPromo ? "UpdateItemsPromo" : "UpdateItems",
        params: { data: JSON.stringify(item) },
      });
      // alert("clicked item " + item);
    },
    async segmentChanged(ev: any) {
      this.selectedSegment = ev.srcElement.value;
      if (this.selectedSegment == "OptionGroups") {
        this.optionGroups = await getOptionGroups();
        this.optionGroups.map(async (value) => {
          const linked = await getLinkedByOptionGroupsId(value.id);
          let itemLinked = 0;
          linked.forEach((eLinked) => {
            eLinked.menuItems.forEach((eItem) => {
              if (eItem.menuItemOptionGroups.findIndex((v) => v.id == value.id) !== -1) {
                itemLinked += 1;
              }
            });
          });
          value.linkedItems = itemLinked;
          return value;
        });
      } else {
        this.list = await getData();
      }
      this.itemKey = new Date().getTime();
    },
    refresh: (ev: CustomEvent) => {
      setTimeout(() => {
        ev.detail.complete();
      }, 3000);
    },
    newOptionGroups() {
      this.router.push("/NewOptionGroups");
    },
    updateOptions(data: any) {
      this.router.push({
        name: "UpdateOptionGroups",
        params: { data: JSON.stringify(data) },
      });
    },
    optionLinked(data: any) {
      this.router.push({
        name: "OptionLinkedItems",
        params: { data: JSON.stringify(data) },
      });
    },
    itemLinked(data: any) {
      this.router.push({
        name: "ItemsLinkedOption",
        params: { data: JSON.stringify(data) },
      });
    },
  },
  data() {
    return {
      itemKey: 0,
      list: [],
      selectedSegment: "MainItems",
      optionGroups: [] as any[],
    };
  },
  components: {
    IonContent,
    ItemsComponent,
    IonHeader,
    IonPage,
    IonFooter,
    IonTitle,
    IonToolbar,
    IonLabel,
    IonButtons,
    IonButton,
    IonBackButton,
    IonSegment,
    IonSegmentButton,
    IonGrid,
    IonRow,
    IonCol,
    IonIcon,
  },
  setup() {
    const router = useRouter();
    const openModal = async () => {
      const modal = await modalController.create({
        component: ModalMenuSetup, //Modal is name of the component to render inside ionic modal

        cssClass: "modal-menu-setup",
      });
      return modal.present();
    };
    return {
      router,
      addCircleOutline,
      arrowForward,
      openModal,
      informationCircleOutline,
      chevronDownCircleOutline,
    };
  },
  async ionViewDidEnter() {
    // this.list = await getData();
    // this.itemKey = new Date().getTime();
    if (this.selectedSegment == "OptionGroups") {
      this.optionGroups = await getOptionGroups();
      this.optionGroups.map(async (value) => {
        const linked = await getLinkedByOptionGroupsId(value.id);
        let itemLinked = 0;
        linked.forEach((eLinked) => {
          eLinked.menuItems.forEach((eItem) => {
            if (eItem.menuItemOptionGroups.findIndex((v) => v.id == value.id) !== -1) {
              itemLinked += 1;
            }
          });
        });
        value.linkedItems = itemLinked;
        return value;
      });
    } else {
      this.list = await getData();
    }
    this.itemKey = new Date().getTime();
  },
});
</script>
<style scoped>
.optionDetail {
  font-weight: bold;
  color: #3880ff;
}
ion-footer ion-toolbar ion-button {
  background: #06c273;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
}
ion-segment {
  border-radius: 0px !important;
  background: #f7f7f7;
}
ion-segment div {
  border: 1px solid #cfcfcf;
  background: #fff;
  margin: 1em;
  border-radius: 1em;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.003em;
  color: #333333;
  padding: 8px 21px;
}
ion-segment ion-segment-button {
  text-transform: none;
  --indicator-box-shadow: transparent !important;
  border-radius: 0px !important;
  padding: 0px !important;
  --background: #fff;
  --color: #707070;
  --border-checked: 1px solid #06c273 !important;
  --color-checked: white;
  --indicator-color: transparent !important;
  min-height: 32px;
  height: 0px !important;
  margin: 0px;
}
ion-segment ion-segment-button ion-label {
  font-size: 14px;
  margin: 8px 12px;
}
.segment-button-checked {
  background: #fff;
  color: #06c273;
  border-bottom: 3px solid #06c273;
}
ion-segment ion-segment-button::before {
  border: none !important;
}

.sc-ion-modal-ios-h:first-of-type {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
}
.count-optiongroups {
  background: #f7f7f7;
  color: #707070;
  font-size: 14px;
  padding: 8px 16px;
}
.count-optiongroups .label {
  font-weight: 700;
}
.count-optiongroups .count {
  font-size: 12px;
  font-weight: normal;
}
.count-optiongroups ion-icon {
  font-size: 17px;
}
ion-grid.optiongroups .items {
  border-bottom: 0.5px solid #cfcfcf;
}
ion-grid.optiongroups .items .title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  letter-spacing: 0.005em;

  color: #333333;
  padding-bottom: 4px;
}
ion-grid.optiongroups .items .item {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.003em;

  color: #707070;
  padding-bottom: 8px;
}
ion-grid.optiongroups .items .optionDetail {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.003em;

  color: #0695c2;
  padding-bottom: 12px;
}
.price {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 4px;
}
.price ion-label {
  vertical-align: middle;
  margin-left: 5px;
  color: #707070;
  font-size: 12px;
}
.price-logo {
  vertical-align: middle;
  height: 1em;
  width: 1em;
  border-radius: 3px;
}
.items-img {
  height: 60%;
  width: 60%;
  margin: auto;
  display: block;
  padding-top: 5px;
}
.row-items ion-col {
  padding: 0px !important;
  margin: 0px !important;
}
</style>