<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Update a Category</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid  class="ion-no-padding">
        <ion-row>
          <ion-col size="12"  class="ion-no-padding"><ion-label>Category Name</ion-label></ion-col>
          <ion-col size="12"  class="ion-no-padding"><ion-input
          v-model="categoryData.category"
          placeholder="e.g. Burgers, drinks, snacks"
        ></ion-input></ion-col>
        </ion-row>
        <ion-row style="margin-top: 20px;">
          <ion-col size="12" class="ion-text-center">
            <ion-button @click="deleteCategory()" expand="full" fill="none" style="--color: red; font-weight: bold;">
              Delete Category
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-button @click="updateCategory()" :disabled="!categoryData.category">
          Update Category
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import { dismissLoading, showLoading, showToast } from "@/services/common";
import { deleteCategories, updateCategories } from "@/services/data";
import {
  IonPage,
  IonContent,
  IonBackButton,
  IonInput,
  IonLabel,
  IonTitle,
  IonToolbar,
  IonFooter,
  IonButtons,
  IonButton,
  IonHeader,
} from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "NewCategories",

  data() {
    return {
      categoryName: "",
      categoryData: {} as any
    };
  },
  methods: {
    refresh: (ev: CustomEvent) => {
      setTimeout(() => {
        ev.detail.complete();
      }, 3000);
    },
    async updateCategory() {
      await showLoading("Please wait");
      const data = {category: this.categoryData.category};
      updateCategories(this.categoryData.id, data)
      .then(async (response) => {
        await dismissLoading();
        this.$router.back();
      }).catch((err) => {
        dismissLoading();
        showToast("Failed update category", "danger");
      });
    },
    async deleteCategory() {
      await showLoading("Please wait");
      deleteCategories(this.categoryData.id)
      .then(async (response) => {
        await dismissLoading();
        this.$router.back();
      }).catch((err) => {
        dismissLoading();
        showToast("Failed delete category", "danger");
      });
    }
  },
  ionViewDidEnter() {
    const param = JSON.parse(this.$route.params.category.toString());
    this.categoryData = param;
  },
  components: {
    IonContent,
    IonBackButton,
    IonInput,
    IonLabel,
    IonTitle,
    IonToolbar,
    IonFooter,
    IonPage,
    IonButtons,
    IonButton,
    IonHeader,
  },
});
</script>
<style scoped>

</style>