<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button v-on:click="close()">
            <ion-icon slot="icon-only" :icon="arrowBack"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Update {{ name }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12"> Option Name* </ion-col>
          <ion-col size="12">
            <ion-input
              v-model="option.name"
              type="text"
              placeholder="E.g jelly, large, 50% sugar"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"> Price* </ion-col>
          <ion-col size="12">
            <ion-input
              v-model="option.price"
              type="number"
              placeholder="0"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-button
          expand="block"
          v-on:click="submit()"
          :disabled="!option.name"
        >
          Save
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonRow,
  IonCol,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonInput,
  IonFooter,
  IonButton,
  IonIcon,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { dismissModal } from "@/services/common";
import { arrowBack } from "ionicons/icons";

export default defineComponent({
  name: "UpdateOption",
  props: {
    name: { type: String, default: "" },
    price: { type: String, default: "" },
    id: { type: Number },
  },
  setup() {
    const router = useRouter();
    return { router, arrowBack };
  },
  data() {
    return {
      option: {
        id: this.id,
        name: this.name,
        price: this.price,
      },
    };
  },
  methods: {
    submit() {
      dismissModal(this.option);
    },
    close() {
      dismissModal();
    },
  },
  components: {
    IonPage,
    IonRow,
    IonCol,
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonInput,
    IonFooter,
    IonButton,
    IonIcon,
  },
});
</script>
