<template>
  <ion-page>
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row class="customer">
          <a @click="() => router.push('/kiosk/Home')">Go to detail</a>
      </ion-row>
      <ion-row class="select-menus">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row>
            <ion-col size="7" class="start">Management</ion-col>
            <ion-col size="5" class="kitchen">Kitchen</ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>
    </ion-grid>
  </ion-page>
</template>

<script lang="ts">
import { IonGrid, IonHeader, IonList, IonPage, IonRefresher, IonRefresherContent, IonTitle, IonToolbar } from '@ionic/vue';
import { defineComponent } from 'vue';
import { useRouter } from 'vue-router';

export default defineComponent({
  name: 'ListItems',
  ionViewDidEnter() {
    console.log('Home page did enter');
  },
  ionViewDidLeave() {
    console.log('Home page did leave');
  },
  ionViewWillEnter() {
    console.log('Home page will enter');
  },
  ionViewWillLeave() {
    console.log('Home page will leave');
  },
  setup() {
     const router = useRouter();
    const items = {
      'text': 'Item 1',
      'src': 'https://via.placeholder.com/1000'
  };
    return { items,router }
  }
});
</script>

<style scoped>
.customer{
  height: 50vh;
  text-align: center;
  margin: auto;
}
.select-menus{
  height: 50vh;
}
.customer-promo ion-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.select-menus .kitchen ion-img{
  height: 50vh;
  object-fit: cover;
}
.select-menus .start{
  text-align: center;
  margin: auto;
}
</style>