<template>
  <ion-page>
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row class="select-menus">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row>
            <ion-col size="7" class="start">
              <a @click="() => router.push('/Management/Home')">Management</a>
            </ion-col>
            <ion-col size="5" class="kitchen">Kitchen</ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>
    </ion-grid>
  </ion-page>
</template>

<script lang="ts">
import { IonPage, IonGrid, IonRow, IonCol } from "@ionic/vue";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "Home",
  components: {
    IonPage,
    IonGrid,
    IonRow,
    IonCol,
  },
  ionViewDidEnter() {
    console.log("Home page did enter");
  },
  ionViewDidLeave() {
    console.log("Home page did leave");
  },
  ionViewWillEnter() {
    console.log("Home page will enter");
  },
  ionViewWillLeave() {
    console.log("Home page will leave");
  },
  setup() {
    const router = useRouter();
    const items = {
      text: "Item 1",
      src: "https://via.placeholder.com/1000",
    };

    return { items, router };
  },
});
</script>

<style >
.modal-wrapper {
  --background: transparent;
  background: transparent;
}
ion-content::part(scroll)::before {
  bottom: 0px;
}

ion-toolbar {
  --border-width: 0px !important;
  padding: 1em 0.5em !important;box-shadow: -1px -2px 6px rgba(0, 0, 0, 0.1);
}
ion-toolbar ion-title {
  padding: 0 !important;
}
ion-back-button {
  color: black;
}
.select-menus .kitchen ion-img {
  height: 50vh;
  object-fit: cover;
}
.select-menus .start {
  text-align: center;
  margin: auto;
}
ion-footer ion-toolbar ion-button{
 
  --background: #06C273;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  text-align: center;
  letter-spacing: 0.005em;

  color: #ffffff;
  opacity: 1;
  width: 100%;
--border-radius: 4px !important;
}
ion-button.button-disabled {
  opacity: 1;
  --background: #c4c4c4;
--border-radius: 4px !important;
}
ion-input {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
border-radius: 4px !important;
  padding-left: 16px !important;
}
ion-input input::placeholder {
  padding-left: 16px;
}
ion-input.has-value {
  color: #333333 !important;
  border: 1px solid #06c273 !important;
  padding-left: 16px !important;
}
ion-grid ion-row ion-col {
  padding: 4px 16px !important;
  margin-top: 8px !important;
}
ion-input.has-focus{
  padding-left: 16px !important;
}
</style>