<template>
  <ion-content class="modal-menu-setup">
    <ion-backdrop
      :tappable="enableBackdropDismiss"
      :visible="showBackdrop"
      :stop-propagation="shouldPropagate"
    >
    </ion-backdrop>
    <ion-grid>
      <ion-item>
        <ion-label @click="openNew('newitems')">
          <span class="title">
            Add a New Item
            <ion-icon :icon="arrowForward" size="small"></ion-icon
          ></span>
          <span class="desc"
            >eg. Cheeseburger, honey milk tea, chicken with rice</span
          >
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label @click="openNew('newitemsPromo')">
          <span class="title">
            Add a New Item Promo
            <ion-icon :icon="arrowForward" size="small"></ion-icon
          ></span>
          <span class="desc"
            >eg. Cheeseburger, honey milk tea, chicken with rice</span
          >
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label @click="openNew('newCategories')">
          <span class="title"
            >Add a New Category
            <ion-icon :icon="arrowForward" size="small"></ion-icon
          ></span>
          <span class="desc"> eeg. Burgers, drinks, snacks ></span>
        </ion-label>
      </ion-item>
    </ion-grid>
  </ion-content>
</template>

<script>
import {
  IonContent,
  modalController,
  IonGrid,
  IonLabel,
  IonItem,
  IonBackdrop,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { arrowForward, closeOutline } from "ionicons/icons";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "ModalMenuSetup",
  components: {
    IonContent,
    IonGrid,
    IonLabel,
    IonItem,
    IonBackdrop,
  },
  setup() {
    const closeModal = () => {
      modalController.dismiss();
    };
    const router = useRouter();

    return {
      closeModal,
      router,
      arrowForward,
      closeOutline,
      enableBackdropDismiss: true,
      showBackdrop: true,
      shouldPropagate: true,
    };
  },
  methods: {
    openNew(page) {
      modalController.dismiss();
      this.router.push(page);
    },
  },
});
</script>
<style scoped>
.modal-menu-setup {
  position: absolute;
  display: block;
  --backdrop-opacity: 0.7;
  --background: transparent;
}
.modal-menu-setup span {
  display: block;
  padding-left: 5vw;
}
.modal-menu-setup span.title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  letter-spacing: 0.005em;

  color: #333333;
}
ion-backdrop {
  --backdrop-opacity: 0.33;
}
.modal-menu-setup span.desc {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.003em;

  color: #707070;
}
.modal-menu-setup ion-icon {
  float: right;
}
.modal-menu-setup ion-grid {
  padding: 24px 1px;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 1000;
  background: #fff;
}
</style>