<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <!-- <ion-back-button default-href="SetupMenus" text=""></ion-back-button> -->
          <ion-button v-on:click="dismiss()">
            <ion-icon slot="icon-only" :icon="arrowBack"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Tentukan Harga</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid v-for="items in priceList" v-bind:key="items.id">
        <ion-row>
          <ion-col size="12">{{items.platform}} *</ion-col>
          <ion-col size="12">
            <ion-input
              @ionChange="checkIsValid"
              v-model="items.value"
              type="number"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-button
          expand="block"
          v-on:click="submit()"
          :disabled="!isValid"
        >
          {{value ? 'Update' : 'Add'}}
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonRow,
  IonCol,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
  IonInput,
  IonFooter,
  IonButton,
  IonIcon,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { arrowBack } from "ionicons/icons";
import { dismissModal } from "@/services/common";

export default defineComponent({
  name: "ModalCreatePrices",
  props: ['data', 'value'],
  setup() {
    const router = useRouter();
    return { router, arrowBack };
  },
  data() {
    return {
      optionPrice: [],
      priceList: [] as any[],
      isValid: false
    };
  },
  methods: {
    dismiss() {
      dismissModal();
    },
    submit() {
      const objResult = {};
      this.priceList.forEach((val) => {
        objResult[val.code] = val.value
      });
      dismissModal(objResult);
    },
    checkIsValid() {
      this.isValid = this.priceList.find(v => v.code == 'dineIn').value != 0;
    }
  },
  mounted(){
    const values = [] as any[];
    if (this.value) {
      for (const key in this.value) {
        values.push({
          key,
          value: this.value[key]
        });
      }
    }
    this.data.forEach(val => {
      this.priceList.push({
        id: val.id,
        platform: val.platform,
        code: val.code,
        value: this.value ? values.find(v => v.key == val.code).value : 0
      });
    });
    this.checkIsValid();
  },
  components: {
    IonPage,
    IonRow,
    IonCol,
    IonHeader,
    IonToolbar,
    IonTitle,
    IonContent,
    IonInput,
    IonFooter,
    IonButton,
    IonIcon,
  },
});
</script>
<style scoped>
ion-grid {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  letter-spacing: 0.005em;

  color: #707070;
}
</style>