<template>
  <ion-content class="modal-outofstock">
    <ion-backdrop
      :tappable="enableBackdropDismiss"
      :visible="showBackdrop"
      :stop-propagation="shouldPropagate"
    >
    </ion-backdrop>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="header">
          <ion-row size="12">
            <ion-col size="2"
              ><ion-icon @click="closeModal()" :icon="closeOutline"></ion-icon
            ></ion-col>
            <ion-col size="10" class="text-left"
              ><span class="head-title">{{ data.itemName }}</span>
              <span class="title">Out of Stock</span></ion-col
            >
          </ion-row>
        </ion-col>
        <ion-col size="12"
          ><span @click="seTunavailabilityDuration('today')" class="today"
            >Today</span
          ></ion-col
        >
        <ion-col size="12"
          ><span
            @click="seTunavailabilityDuration('indefilynite')"
            class="indefinitely"
            >Indefinitely</span
          ></ion-col
        >
      </ion-row>
      <ion-row class="confirm">
        <ion-col size="12"
          ><span @click="confirm(unavailabilityDuration)"
            >Confirm</span
          ></ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-content>
</template>

<script>
import { IonContent, modalController, IonGrid, IonBackdrop } from "@ionic/vue";
import { defineComponent } from "vue";
import { arrowForward, closeOutline } from "ionicons/icons";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "ModalOutofStocks",
  props: ["data"],
  data() {
    return {
      unavailabilityDuration: "today",
    };
  },
  components: {
    IonContent,
    IonGrid,
    IonBackdrop,
  },
  setup() {
    const closeModal = () => {
      modalController.dismiss();
    };
    const router = useRouter();

    return {
      closeModal,
      router,
      arrowForward,
      closeOutline,
      enableBackdropDismiss: true,
      showBackdrop: true,
      shouldPropagate: true,
    };
  },
  methods: {
    seTunavailabilityDuration(e) {
      this.unavailabilityDuration = e;
    },
    confirm(e) {
      modalController.dismiss(e);
    },
  },
});
</script>
<style scoped>
.modal-outofstock {
  position: absolute;
  display: block;
  --backdrop-opacity: 0.7;
  --background: transparent;
}
.modal-outofstock span {
  display: block;
  padding: 8px;
}
.modal-outofstock span.title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  letter-spacing: 0.005em;

  color: #333333;
}
.modal-outofstock span.head-title {
  color: #969696;
  font-size: 12px;
}
ion-backdrop {
  --backdrop-opacity: 0.33;
}
.modal-outofstock span.desc {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.003em;

  color: #707070;
}
.modal-outofstock ion-icon {
  color: #707070;
  float: unset;
  margin: auto;
  display: block;
  height: 100%;
  text-align: center;
  font-size: 1.5em !important;
}
.modal-outofstock ion-grid {
  padding: 12px 1px;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 1000;
  background: #fff;
  text-align: center;
}
.modal-outofstock ion-grid ion-row ion-col {
  padding: 0px !important;
  margin: 0px !important;
}
ion-col.header ion-row{
  display: inherit;
  width: 100%;
}
ion-col.header {
  display: inherit;
}
ion-col.header ion-icon {
  color: #707070;
  float: unset;
}
ion-col.header span {
  padding: 0px;
  text-align: left;
}
.today {
  margin-top: 1em;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  text-align: center;
  letter-spacing: 0.005em;
  background: rgba(6, 194, 115, 0.05);
}
.indefinitely {
}
.row.confirm {
  box-shadow: -1px -2px 6px rgb(0 0 0 / 10%);
}
.confirm span {
  margin: 1em;
  color: #fff;
  background: #06c273;
  padding: 8px !important;
  margin-bottom: 0px;
  border-radius: 4px;
}
</style>