<template>
  <!-- <ion-grid class="count-category">
    <ion-row>
      
      <ion-col size="8" class="label"
        >Menu
        <span v-if="list.length > 0" class="count">
          ( {{ list.length }}
          category)
        </span>
      </ion-col>
      <ion-col
        size="4"
        style="color: #06c273; font-size: 14px"
        class="ion-text-right"
        >Select</ion-col
      >
    </ion-row>
  </ion-grid> -->
  <div
    v-for="listItem in displayList"
    :key="listItem.id"
    style="border-bottom: solid #ddd 1px; padding: 0px 5px"
  >
    <div
      class="ion-padding default-header"
      :ref="'header-' + listItem.id"
      @click="headerClicked(listItem)"
    >
      <ion-label class="category-title">
        <strong>{{ listItem.name }} </strong>
      </ion-label>
      <ion-label class="category-item"
        >Item {{ listItem.menuItemOptions.length }}</ion-label
      >
    </div>

    <div
      :ref="'body-' + listItem.id"
      v-show="isExpanded(listItem)"
      class="items"
    >
      <slot :item="listItem"></slot>
    </div>
  </div>
</template>

<script>
import { IonLabel } from "@ionic/vue";
import { defineComponent } from "vue";
export default defineComponent({
  name: "OutofStockComponent",
  components: {
    IonLabel,
  },
  props: ["list"],
  data() {
    return {
      displayList: this.list,
    };
  },
  ionViewDidEnter() {
    console.log('Home page did enter');
  },
  ionViewDidLeave() {
    console.log('Home page did leave');
  },
  ionViewWillEnter() {
    console.log('Home page will enter');
  },
  ionViewWillLeave() {
    console.log('Home page will leave');
  },
  methods: {
    isExpanded(listItem) {
      const curE = this.$refs["body-" + listItem.id];
      if (curE === undefined) return false;
      if (curE.dataset.isExpanded === "true") {
        return true;
      } else {
        return false;
      }
    },
    headerClicked(item) {
      this.displayList.map((e) => {
        const curE = this.$refs["body-" + e.id];

        if (e == item) {
          if (curE.dataset.isExpanded === "true") {
            curE.setAttribute("data-is-expanded", false);
          } else {
            curE.setAttribute("data-is-expanded", true);
          }
        } else {
          curE.setAttribute("data-is-expanded", false);
        }
      }, this);
      this.displayList = [...this.displayList];
    },
  },
});
</script>

<style >
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin: 2px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.category-title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  letter-spacing: 0.005em;

  color: #333333;
}
.category-item {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.003em;

  color: #707070;
  float: right;
}
.items {
  padding-left: 8px !important;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  letter-spacing: 0.005em;

  color: #333333;
}
.default-header {
  font-size: 16px;
}
.count-category {
  background: #f7f7f7;
  color: #707070;
  padding: 8px 16px;
  font-size: 14px;
}
.count-category .label {
  font-weight: 700;
}
.count-category .count {
  font-size: 12px;
  font-weight: normal;
}
ion-toggle {
  --background: #c4c4c4;
  --background-checked: rgba(6, 194, 115, 0.5);
  --handle-background: #707070;
  --handle-background-checked: #06c273;
  height: 14px;
  width: 30px;
  --handle-width: 14px;
  --handle-height: 14px;
}
ion-toggle:checked {
  background-color: #a7cfdf;
}
.items ion-grid {
  border-bottom: 0.5px solid #cfcfcf;
}
</style>