<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button text="" defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <!-- Segment with default selection -->
      <ion-grid class="setupmenu">
        <ion-row>
          <ion-col size="2">
            <ion-img
              src="https://via.placeholder.com/150"
              style="width: 50px; height: 50px; margin: auto"
            ></ion-img>
          </ion-col>
          <ion-col size="10"
            ><router-link
              to="/SetupMenus"
              style="text-decoration: none !important; color: #000"
            >
              <ion-grid>
                <ion-row class="setupmenu-card">
                  <ion-col size="10">
                    <ion-label class="setupmenu-title">Set Up Menu</ion-label>
                    <ion-label>Add and edit menu details</ion-label></ion-col
                  >
                  <ion-col size="2" style="margin: auto; text-align: right">
                    <ion-icon :icon="arrowForward" size="small"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </router-link>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-segment @IonChange="segmentChanged" :value="selectedSegment">
        <ion-segment-button value="Items" part="btnsegment">
          <ion-label>Items</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Out of Stock" part="btnsegment">
          <ion-label>Out of Stock</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Option Group" part="btnsegment">
          <ion-label>Option Groups</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div
        lines="full"
        class="ion-no-margin"
        v-if="selectedSegment == 'Out of Stock'"
        style="height: 73.8vh"
      >
        <ion-content>
          <ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
            <ion-refresher-content
              :pulling-icon="chevronDownCircleOutline"
              pulling-text="Pull to refresh"
              refreshing-spinner="circles"
              refreshing-text="Refreshing..."
            ></ion-refresher-content>
          </ion-refresher>
          <OutofStockComponent :list="listOutofStocks" :key="dataKey">
            <template v-slot="sp">
              <div v-for="items in sp" v-bind:key="items.id">
                <ion-grid v-for="menuItem in items.menuItems" :key="menuItem">
                  <div v-if="menuItem.isReady == false">
                    <ion-row>
                      <ion-col size="10">
                        {{ menuItem.itemName }} {{ menuItem.isReady }}</ion-col
                      >
                      <ion-col size="2" class="ion-text-right">
                        <ion-toggle
                          @click="disableOutofStock(menuItem.id)"
                          v-model="menuItem.isReady"
                        ></ion-toggle
                      ></ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col
                        size="6"
                        v-for="menuItemPrices in menuItem.menuItemPrices"
                        :key="menuItemPrices"
                        >{{ menuItemPrices.pricePlatform.platform }}
                        {{ menuItemPrices.price }}
                      </ion-col>
                    </ion-row>
                    <ion-row> </ion-row>
                    <ion-row>
                      <ion-col size="12"
                        ><div>
                          <ion-label
                            color="primary"
                            class="ion-float-left"
                            style="zoom: 0.9"
                            @click="buttonClicked(sp.items.id)"
                            >Manage Sales LImit</ion-label
                          >
                        </div></ion-col
                      >
                    </ion-row>
                  </div>
                </ion-grid>
              </div>
            </template>
          </OutofStockComponent>
        </ion-content>
      </div>
      <div
        lines="full"
        class="ion-no-margin"
        v-if="selectedSegment == 'Items'"
        style="height: 73.8vh"
      >
        <ion-content>
          <ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
            <ion-refresher-content
              :pulling-icon="chevronDownCircleOutline"
              pulling-text="Pull to refresh"
              refreshing-spinner="circles"
              refreshing-text="Refreshing..."
            ></ion-refresher-content>
          </ion-refresher>
          <ItemsComponent :list="listGetDataItems" :key="dataKey">
            <template v-slot="sp">
              <div v-for="items in sp" v-bind:key="items.id">
                <ion-grid v-for="menuItem in items.menuItems" :key="menuItem">
                  <ion-row>
                    <ion-col size="10" class="menuitem-itemname">
                      {{ menuItem.itemName }}</ion-col
                    >
                    <ion-col size="2" class="ion-text-right">
                      <ion-toggle
                        @click="enableOutofStock(menuItem)"
                        v-model="menuItem.isReady"
                      ></ion-toggle
                    ></ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col
                      class="price"
                      size="6"
                      v-for="menuItemPrices in menuItem.menuItemPrices"
                      :key="menuItemPrices"
                    >
                      <img
                        class="price-logo"
                        :src="
                          menuItemPrices.pricePlatform.logo
                            ? menuItemPrices.pricePlatform.logo
                            : '..'
                        "
                      />
                      <span v-if="menuItemPrices.priceAfterDiscount < 1">
                        <ion-label class="item-promo-no"
                          >Rp {{ formatPrice(menuItemPrices.price) }}</ion-label
                        >
                      </span>
                      <span v-if="menuItemPrices.priceAfterDiscount > 0">
                        <ion-label class="item-promo-yes"
                          >Rp {{ formatPrice(menuItemPrices.price) }}</ion-label
                        >
                        <ion-label
                          >Rp
                          {{
                            formatPrice(menuItemPrices.priceAfterDiscount)
                          }}</ion-label
                        >
                      </span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </template>
          </ItemsComponent>
        </ion-content>
      </div>
      <div
        lines="full"
        class="ion-no-margin"
        v-if="selectedSegment == 'Option Group'"
        style="height: 73.8vh"
      >
        <ion-content>
          <ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
            <ion-refresher-content
              :pulling-icon="chevronDownCircleOutline"
              pulling-text="Pull to refresh"
              refreshing-spinner="circles"
              refreshing-text="Refreshing..."
            ></ion-refresher-content>
          </ion-refresher>
          <OptionGroupsComponent :list="listOptionGroups">
            <template v-slot="sp">
              <div v-for="items in sp" v-bind:key="items.id">
                <ion-grid v-for="item in items.menuItemOptions" :key="item">
                  <ion-row>
                    <ion-col size="10">{{ item.name }}</ion-col>
                    <ion-col size="2" class="ion-text-right">
                      <ion-toggle></ion-toggle
                    ></ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </template>
          </OptionGroupsComponent>
        </ion-content>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang='ts'>
import {
  IonContent,
  IonHeader,
  IonPage,
  IonTitle,
  IonToolbar,
  IonLabel,
  IonButtons,
  IonBackButton,
  IonSegment,
  IonGrid,
  IonRow,
  IonCol,
  IonIcon,
  IonImg,
  IonToggle,
  IonSegmentButton,
  IonRefresher,
  IonRefresherContent,
} from "@ionic/vue";
import { addCircleOutline, arrowForward } from "ionicons/icons";
import { defineComponent } from "vue";
import ItemsComponent from "@/components/ItemsComponent.vue";
import OptionGroupsComponent from "@/components/OptionGroupsComponent.vue";
import OutofStockComponent from "@/components/OutofStockComponent.vue";
import { getDataItems } from "@/services/dataitems";
import { getDataOutofStocks } from "@/services/dataoutofstocks";
import { getDataOptionGroups } from "@/services/dataoptiongroups";
import { useRouter } from "vue-router";
import {
  showToast,
  showLoading,
  dismissLoading,
  showModal,
} from "@/services/common";
import { chevronDownCircleOutline } from "ionicons/icons";
import ModalOutofStocks from "@/components/modal/ModalOutofStocks.vue";
export default defineComponent({
  name: "HomeManagement",
  components: {
    IonContent,
    IonSegmentButton,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonLabel,
    IonButtons,
    IonBackButton,
    IonSegment,
    ItemsComponent,
    OptionGroupsComponent,
    OutofStockComponent,
    IonGrid,
    IonRow,
    IonCol,
    IonIcon,
    IonImg,
    IonToggle,
    IonRefresher,
    IonRefresherContent,
  },
  data() {
    return {
      btnActived: false,
      selectedSegment: "",
      addCircleOutline,
      arrowForward,
      listGetDataItems: [],
      listOutofStocks: [],
      listOptionGroups: [],
      dataKey: 0,
      unavailabilityDuration: "",
      eventTarget: "",
    };
  },
  methods: {
    async doRefresh(ev) {
      if (this.selectedSegment == "Items") {
        this.listGetDataItems = await getDataItems();
      }
      if (this.selectedSegment == "Out of Stock") {
        this.listOutofStocks = await getDataOutofStocks();
        this.listOutofStocks = this.listOutofStocks.filter(
          (value: any) => value.menuItems.length > 0
        );
      } else {
        this.listOptionGroups = await getDataOptionGroups();
      }
      this.dataKey = new Date().getTime();
      ev.target.complete();
    },
    formatPrice(value) {
      const val = (value / 1).toFixed(0).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    buttonClicked(item: any) {
      alert("clicked item " + item.id);
    },
    async segmentChanged(ev: any) {
      console.log(ev.srcElement.value);
      if (ev.srcElement.value == "items") {
        this.listGetDataItems = await getDataItems();
      }
      if (ev.srcElement.value == "Out of Stock") {
        this.listOutofStocks = await getDataOutofStocks();
        this.listOutofStocks = this.listOutofStocks.filter(
          (value: any) => value.menuItems.length > 0
        );
      } else {
        this.listOptionGroups = await getDataOptionGroups();
      }
      this.selectedSegment = ev.srcElement.value;
      this.dataKey = new Date().getTime();
    },
    async enableOutofStock(dataItem) {
      const data = { data: dataItem };
      await showModal(ModalOutofStocks, data).then((modal) => {
        modal.present();
        modal.onDidDismiss().then(async (value) => {
          const user = value["data"];
          if (user) {
            this.unavailabilityDuration = user;
            console.log(user);
            await showLoading("Please wait");

            const token =
              "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjIsInVzZXJuYW1lIjoiZXhhbXBsZTEiLCJyb2xlIjoidGVuYW50IiwiaWF0IjoxNjM4MzgwNzE5LCJleHAiOjE2NDM1NjQ3MTl9.SsxkspmpEc6jZ6QRUQWaSTBrMoSggpIDsytxHxn23J0";
            const menuItemId = dataItem.id;
            const requestOptions = {
              method: "PUT",
              headers: {
                Authorization: "Bearer " + token,
              },
            };
            fetch(
              "http://68.183.181.55:4000/v1/items/tenant/setAvailable/" +
                menuItemId +
                "?unavailabilityDuration=" +
                this.unavailabilityDuration,
              requestOptions
            )
              .then((response) => response.json())
              .then(async () => {
                await dismissLoading();
                await showToast("Set item successfully", "success");

                this.listGetDataItems = await getDataItems();
                this.listOutofStocks = await getDataOutofStocks();
                this.listOutofStocks = this.listOutofStocks.filter(
                  (value: any) => value.menuItems.length > 0
                );
                this.dataKey = new Date().getTime();
              })
              .catch(() => {
                dismissLoading();
                showToast("Failed Set item", "danger");
              });
          }

          return await this.doRefresh("refresh");
        });
      });
    },
    async disableOutofStock(id: any) {
      await showLoading("Please wait");

      const token =
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjIsInVzZXJuYW1lIjoiZXhhbXBsZTEiLCJyb2xlIjoidGVuYW50IiwiaWF0IjoxNjM4MzgwNzE5LCJleHAiOjE2NDM1NjQ3MTl9.SsxkspmpEc6jZ6QRUQWaSTBrMoSggpIDsytxHxn23J0";
      const menuItemId = id;
      const requestOptions = {
        method: "PUT",
        headers: {
          Authorization: "Bearer " + token,
        },
      };
      fetch(
        "http://68.183.181.55:4000/v1/items/tenant/setAvailable/" + menuItemId,
        requestOptions
      )
        .then((response) => response.json())
        .then(async () => {
          await dismissLoading();
          await showToast("Set item successfully", "success");

          this.listGetDataItems = await getDataItems();
          this.listOutofStocks = await getDataOutofStocks();
          this.listOutofStocks = this.listOutofStocks.filter(
            (value: any) => value.menuItems.length > 0
          );
          this.dataKey = new Date().getTime();
        })
        .catch(() => {
          dismissLoading();
          showToast("Failed Set item", "danger");
        });
    },
  },
  setup() {
    const router = useRouter();
    return {
      router,
      chevronDownCircleOutline,
    };
  },

  async ionViewDidEnter() {
    this.listGetDataItems = await getDataItems();
    this.listOutofStocks = await getDataOutofStocks();
    this.listOptionGroups = await getDataOptionGroups();
    this.selectedSegment = "Items";
  },
});
</script>

<style scoped>
.setupmenu {
  padding: 0px 21px;
}
.setupmenu-card ion-col {
  margin: 0px !important;
}
.setupmenu ion-label {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.003em;

  color: #707070;
}
.setupmenu .setupmenu-title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  letter-spacing: 0.005em;

  color: #333333;
}
ion-segment {
  border-radius: 0px !important;
  background: #f7f7f7;
}
ion-segment div {
  border: 1px solid #cfcfcf;
  background: #fff;
  margin: 1em;
  border-radius: 1em;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.003em;
  color: #333333;
  padding: 8px 21px;
}
ion-segment ion-segment-button {
  text-transform: none;
  --indicator-box-shadow: transparent !important;
  border-radius: 3em !important;
  padding: 0rem;
  --background: #fff;
  --color: #333333;
  --background-checked: #06c273 !important;
  --color-checked: white;
  --indicator-color: transparent !important; /* this solution */
  font-weight: 700;
  margin: 16px 4px;
  font-size: 12px;
  min-height: 32px;
  height: 0px !important;
  min-width: fit-content;
}
ion-segment ion-segment-button ion-label {
  font-size: 12px;
  margin: 8px 12px;
}
ion-segment ion-segment-button::before {
  border: none !important;
}
ion-segment ion-segment-button:nth-child(1) {
  margin-left: 16px !important;
}
ion-segment ion-segment-button:nth-last-child(1) {
  margin-right: 16px !important;
}
.menuitem-itemname {
  padding-bottom: 0px !important;
  font-weight: bold;
}
.price {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 4px;
}
.price ion-label {
  vertical-align: middle;
  margin-left: 5px;
  color: #707070;
  font-size: 12px;
}
.price-logo {
  vertical-align: middle;
  height: 1em;
  width: 1em;
  border-radius: 3px;
}
.item-promo-yes{
  text-decoration: line-through;
}
</style>