<template>
  <ion-page>
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row class="display-promo">
        <ion-img :src="items.src"></ion-img>
      </ion-row>
      <ion-row class="select-menus">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row>
            <ion-col size="7" class="start">Sentuh Untuk Mulai</ion-col>
            <ion-col size="5" class="logos">
              <ion-img :src="items.src"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>
    </ion-grid>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'InitialPage',
  setup() {
    const items = {
      'text': 'Item 1',
      'src': 'https://via.placeholder.com/1000'
  };
    return { items }
  }
});
</script>

<style scoped>
.display-promo{
  height: 80vh;
}
.select-menus{
  height: 20vh;
}
.display-promo ion-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.select-menus .logos ion-img{
  height: 20vh;
  object-fit: cover;
}
.select-menus .start{
  text-align: center;
  margin: auto;
}
</style>